ethereum_data/
keystore/*
keystore/**
keystore/
keystore*
UTC--*
ethereum/
password.txt
node_address.txt
miner_address_registered.txt
vol_*
vol_keystore
vol_conf
vol_data
secret.ini
.env.secrets
*secret*
geth.ipc
__pycache__/
# exceptions (will not be ignored)
!.tmp.env.secrets