ethereum_data/
keystore*
keystore_backup/
UTC--*
ethereum/
password.txt
node_address.txt
miner_address_registered.txt
secret.ini
.env.secrets
*secret*
__pycache__/
# exceptions (will not be ignored)
!.tmp.env.secrets